$black: #000;
$white: #fff;
$white3: rgb(244, 245, 247);
$gris: rgb(113, 115, 134);
$gris2: #717386;
$gris3: #b7b4b7;
$gris4: rgba(113, 115, 134, 0.3);
$gris5: rgba(113, 115, 134, 1);
$violet: #E3D8E2;
$violetBorder: #523F4F;
$verde: #4BB543;
$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

$breakpoint-tablet: 768px;
$breakpoint-netbook: 959px;
$breakpoint-desktop: 1199px;
$breakpoint-desktopxl: 1400px;



